
.gnb_nav{
    /* border:2px solid red; */

}
.gnb_title{
    /* border:2px solid black; */
    display: inline-block;
     margin-right: auto;
}
.gnb_title > a{
        /* color: #6A9BD8; */
    color:dimgray;
    letter-spacing: .2rem;
    font-weight: 900;
    font-size: 32px;

    text-shadow: 2px 2px 4px rgba(0,0,0,.3), -2px -2px 4px rgba(255,255,255,1);

    margin-right: 20px;

}
.gnb_compo{
    display: inline-block;
    margin:0 10px;
    /* color: #6A9BD8; */
    color:dimgray;

    font-weight: 800;

    padding:8px 10px;

    border-radius: 20px;

    border: 2px solid rgba(255,255,255,.3);
    box-shadow: 4px 4px 6px 0 rgba(0,0,0,.1), -4px -4px 6px rgba(255,255,255,1);
    border-radius:15px;

    letter-spacing: .1rem;

}

.gnb_compo:hover{
        box-shadow: inset -2px -2px 2px rgba(255, 255, 255, 1),
              inset 2px 2px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-out;
    transform:scale(0.99)
}
.main_title{
    /* border: 2px solid; */
    margin-top:20px;

    font-weight: 800;
    text-shadow: 2px 2px 4px rgba(0,0,0,.3), -2px -2px 4px rgba(255,255,255,1);

    display: inline-block;
}

.main_postcnt{
    font-size:16px;
    display: inline-block;
    margin-left:10px;
    color:#777;
    font-weight: 800;
        text-shadow: 2px 2px 4px rgba(0,0,0,.3), -2px -2px 4px rgba(255,255,255,1);

    padding:5px 10px;
    /* border: 2px solid rgba(255,255,255,.3);
    box-shadow: 4px 4px 6px 0 rgba(0,0,0,.1), -4px -4px 6px rgba(255,255,255,1);
    border-radius:15px; */
  
}
.profile_box{

    /* border:1px solid black; */
    box-sizing: border-box;
    display: flex;
    margin-bottom: 50px;
}

.profile_image{

    /* object-fit: contain;
    object-position: center; */
    width:100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;

}
.profile_info_box{
    /* border:2px solid red; */
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left:30px;
}
.profile_info{
    display: inline-block;
    font-size:1rem;
    font-weight: bold;
    /* border:2px solid blue; */
    margin-bottom: unset;
}
.main_post_container{
    margin-top:30px;
    display: grid;
    /* border:3px solid green; */
    /* grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(7,minmax(100px,auto)); */
    grid-auto-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    grid-auto-rows: 100px;

    gap:25px;

}
.main_post_section{
    padding: 30px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    
    /* border:2px solid black; */
    border-radius: 20px;
    border: 2px solid rgba(255,255,255,.3);
    box-shadow: 4px 4px 6px 0 rgba(0,0,0,.1), -4px -4px 6px rgba(255,255,255,1);

}
.main_post_overflow{
    overflow: hidden;
    height:100%;
}
.main_post_section:nth-child(9n-8) { 
    grid-column: auto/ span 5;
    grid-row: auto/ span 4;
}
.main_post_section:nth-child(9n-7) { 
    grid-column: auto/ span 4;
    grid-row: auto/ span 3;
}
.main_post_section:nth-child(9n-6) { 
    grid-column: auto/ span 4;
    grid-row: auto/ span 4;
}
.main_post_section:nth-child(9n-5) { 
    grid-column: auto/ span 5;
    grid-row: auto/ span 3;
}

.main_post_section:nth-child(9n-4) { 
    grid-column: auto/ span 9;
    grid-row: auto/ span 3;
}


.main_post_section:nth-child(9n-3) { 
    grid-column: auto/ span 4;
    grid-row: auto/ span 3;
}


.main_post_section:nth-child(9n-2) { 
    grid-column: auto/ span 5;
    grid-row: auto/ span 3;
}

.main_post_section:nth-child(9n-1) { 
    grid-column: auto/ span 5;
    grid-row: auto/ span 3;
}

.main_post_section:nth-child(9n) { 
    grid-column: auto/ span 4;
    grid-row: auto/ span 3;
}




.main_post_link{
    display: block;
   


    height:100%;
}

.main_post_title{
    display: inline-block;
    padding:20px;
    margin: 10px 10px 30px 10px;
    font-size:20px;
    border-radius: 10px;
    
    border: 2px solid rgba(255,255,255,.3);
    box-shadow: 4px 4px 6px 0 rgba(0,0,0,.1), -4px -4px 6px rgba(255,255,255,1);
}

.main_post_category{
    font-size:15px;
    color:#aaa;
    display: inline-block;
    margin-left:20px;
}
.main_post_date{

    display: flex;
    font-size:15px;
    color:#aaa;
    align-items: center;
    margin-top:10px;
}
.main_post_date > svg{
    margin-right:10px;
}
.main_post_section{
    white-space: pre-line;
}
.main_post_content{
    margin: 0 20px;
}

@media(max-width:768px){
    .main_post_section:nth-child(n){
        grid-column: auto/ span 4;
        grid-row: auto/ span 3;
    }
}