
.profile_image{
    object-fit: contain;
    object-position: center;
    width:75px;
    height: 75px;
    border-radius: 50%;
    display: inline-block;
    float:left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.profile_image::after{
    clear: both;
}
.profile_info{
    display: inline-block;
    font-size:0.8rem;
}
.main_post_title{
    display: inline-block;
    font-size:1.2rem;
}
.main_post_date{
     display: inline-block;
    font-size:1.2rem;
}


.profile_box{
    position: fixed;
    right:20px;
    border:1px solid black;
    box-sizing: border-box;
    padding:10px;

}
.gnb_compo{
    display: inline-block;
    margin:0 10px;
}
@media(max-width:1024px){
    .profile_box{
    
    right:unset;
        bottom: 0;

}
}