.post_container{
    border-radius: 20px;
    border: 2px solid rgba(255,255,255,.3);
    box-shadow: 4px 4px 6px 0 rgba(0,0,0,.1), -4px -4px 6px rgba(255,255,255,1);
    padding:30px;
    margin:30px;
}

.post_title{
     padding:20px;
    margin: 10px 10px 30px 10px;
    font-size:20px;
    border-radius: 10px;
    
    border: 2px solid rgba(255,255,255,.3);
    box-shadow: 4px 4px 6px 0 rgba(0,0,0,.1), -4px -4px 6px rgba(255,255,255,1);
}



.post_date{
 display: flex;
    font-size:15px;
    color:#aaa;
    align-items: center;
    margin-top:10px;
}

.post_date >span{
    margin-right:20px;
}
.post_date > SVG{
    margin-right:3px;
}
.post_content{
    padding:20px;
}

@media(max-width:768px){
    .post_container{
        margin:0;
        padding:5px;
    }
    .post_content{
    padding:15px;
    font-size:14px;
}
}